<div class="beer-unit">
    <img
    class="beer-img"
    src="<%- beer.image_url %>"
    alt="<%- beer.name%> Picture"
    height="200px"
  />
  <article>
  <h3><a href="/beers/beer-<%- beer.id %>"><%- beer.name %></a></a></h3>
  <p><%- beer.tagline %></p>
  <p><%- beer.description %></p>
</article>
</div>
